		<hr>
		<footer class="container-fluid">
      <div class="row">
				<div class="col-xs-6 col-md-4 col-lg-3">
					<div class="row">
						<img src="http://placehold.it/300x200" class="img-responsive"/>
					</div>
				</div>
				<div class="col-xs-6 col-md-4 col-lg-3">
					<ul>
					{% for tag in site.tags limit=5 %}
						<li><a href="#">{{tag|last}}</a><span class="badge">{{tag|last|size}}</span></li>
					{% endfor %}
					</ul>
				</div>
				<div class="col-xs-6 col-md-4 col-lg-3">col-xs-6 col-md-4 col-lg-3</div>
				<div class="col-xs-6 col-md-4 col-lg-3 hidden-md">					
					<div class="row">
						<img src="http://placehold.it/300x200" class="img-responsive"/>
					</div></div>
      </div>
    </footer>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>